{% extends 'layout.html' %}

{% block content %}


<h2>About</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste recusandae culpa vitae, ipsam voluptatibus excepturi voluptatum non, quasi cupiditate natus cum illum rerum fuga labore quae deleniti? Aliquam, nulla beatae!
Quasi doloremque, dolorem quo, dolor obcaecati, minus eum expedita quisquam repellendus explicabo rem facilis saepe dolorum molestias? Distinctio illum ratione esse quae tempore nisi quasi molestiae ipsam doloremque, atque at!
Illum reprehenderit laudantium pariatur iste soluta in eius necessitatibus, quasi accusamus est tenetur odio deserunt eveniet inventore provident id quos, explicabo tempora quia architecto? Eos autem reprehenderit quia porro saepe!</p>

{% endblock %}